{% extends "site_base.html" %}

{% load i18n staticfiles thumbnail flatblocks %}

{% block head_title %}{% trans "Sponsor List" %}{% endblock %}

{% block body %}
<h2>ChiPy Talk Requests</h2>
<p>{% flatblock "talkrequests_info_text" %}</p>

<form method="post" action=".">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="submit" value="submit" />
</form>

{% for talkrequest in talkrequests %}
<div class="row">

    <h4 class="span3">{{ talkrequest.title }}</h4>
    <p>
        {{ talkrequest.text }}
    </p>
    <p>
        {{ talkrequest.created }}<br />
        {{ talkrequest.modified }}<br />
        {{ talkrequest.category.name }}<br />
    </p>

</div>
<hr>
{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if talkrequests.has_previous %}
            <a href="?page={{ talkrequests.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ talkrequests.number }} of {{ talkrequests.paginator.num_pages }}.
        </span>

        {% if talkrequests.has_next %}
            <a href="?page={{ talkrequests.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock body %}
